body {
   background-image: url("galaxy.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

#container {
   width: 1200px;
   height: 850px;
   margin: 0 auto;
   margin-top: 50px;
   color: white;
   font-family: sans-serif;
}

#definicja {
   display: none;
}

#rodzaje {
   display: none;
}

#przyklady {
   display: none;
}

#stworzkrzywa {
   display: none;
}

#controls {
   display: none;
}

#dokumentacja {
   display: none;
}

header {
   width: 1200px;
   height: 100px;
   line-height: 100px;
   background: black;
   text-align: center;
   font-size: 40px;
   font-weight: bold;
   background-color: rgba(0, 0, 0, 0.3);
}

#left_section {
   padding-left: 20px;
   float: left;
   width: 180px;
   height: 700px;
   background: #1a1a1a;
   line-height: 60px;
   font-size: 110%;
   background-color: rgba(0, 0, 0, 0.45);
}
#right_section {
   padding-left: 20px;
   float: left;
   width: 180px;
   height: 700px;
   background: #1a1a1a;
   line-height: 60px;
   font-size: 110%;
   background-color: rgba(0, 0, 0, 0.45);
}


#center {
   background-image: url("background.jpg");
   float: left;
   height: 620px;
   width: 720px;
   padding: 40px;
   font-size: 20px;
   line-height: 40px;
   background: #1a1a1a;
   background-color: rgba(0, 0, 0, 0.4);
}

#table {
   position: relative;
   top: 100px;
   left:  100px;
   float: left;
   height: 540px;
   width: 48%;
   text-align: center;
}

#picture {
   position: relative;
   top: 100px;
   float: left;
   height: 540px;
   width: 48%;
   text-align: center;
}

#lissajous {
   text-align: center;
} 

#canvasShape {
   position: relative;
   top: 10px;
   left: 60px;
} 

label {
    text-align: right;
    float:left;
    margin-right:10px;
}

input {
   float: left;
   width: 80px;
   padding-left: 5px;
   margin-top: 18px;
}

footer {
   float: left;
   width: 1200px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   font-size: 13px;
   background: black;
   background-color: rgba(0, 0, 0, 0.3);

}

.menuButtons {
	-moz-box-shadow:inset -1px 0px 10px -4px #050b1a;
	-webkit-box-shadow:inset -1px 0px 10px -4px #050b1a;
	box-shadow:inset -1px 0px 10px -4px #050b1a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #14181f), color-stop(1, #55585c));
	background:-moz-linear-gradient(top, #14181f 5%, #55585c 100%);
	background:-webkit-linear-gradient(top, #14181f 5%, #55585c 100%);
	background:-o-linear-gradient(top, #14181f 5%, #55585c 100%);
	background:-ms-linear-gradient(top, #14181f 5%, #55585c 100%);
	background:linear-gradient(to bottom, #14181f 5%, #55585c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#14181f', endColorstr='#55585c',GradientType=0);
	background-color:#14181f;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #000105;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 23px;
	text-decoration:none;
	text-shadow:0px 2px 0px #010308;
	line-height: 30px;
}
.menuButtons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #55585c), color-stop(1, #14181f));
	background:-moz-linear-gradient(top, #55585c 5%, #14181f 100%);
	background:-webkit-linear-gradient(top, #55585c 5%, #14181f 100%);
	background:-o-linear-gradient(top, #55585c 5%, #14181f 100%);
	background:-ms-linear-gradient(top, #55585c 5%, #14181f 100%);
	background:linear-gradient(to bottom, #55585c 5%, #14181f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55585c', endColorstr='#14181f',GradientType=0);
	background-color:#55585c;
}
.menuButtons:active {
	position:relative;
	top:1px;
}
